*.cursorColor: #40a06e
*.scrollBar: false
 
!sets the background to black and foreground to white for other terminals relying on Xresources
*background: #12201c
*foreground: #40a06e
 
! black
*color0: #12201c
*color8: #c0988b
! red
*color1: #a0a0a0
*color9: #4cc86e
! green
*color2: #90c29d
*color10: #8daec8
! yellow
*color3: #75cd76
*color11: #c87a82
! blue
*color4: #5d63a0
*color12: #7d75c8
! magenta
*color5: #b6d0ad
*color13: #c9d4c3
! cyan
*color6: #abd886
*color14: #d8dad4
! white
*color7: #40a06e
*color15: #d8c7b1
! underline when default
*colorUL: #40a06e
! vim: set ft=xdefaults:
